.seventh {
  padding: 40px 0;

  background: $accent-bg_color;

  @include for-size(desktop) {
    padding: 100px 0 110px;
  }

  &__title {
    margin: 0 0 24px;

    @include font(bold, 40px, 1.4);

    text-align: center;

    color: $secondary-text_color;

    @include for-size(desktop) {
      margin: 0 0 40px;
    }
  }
}

.seventh__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  @include for-size(desktop) {
    display: flex;
    justify-content: center;
  }
}

.seventh__list-item {
  max-width: 425px;
  margin: 0 auto;
  padding: 32px 45px;
  background: rgba(255, 255, 255, 0.7);

  @include for-size(desktop) {
    width: 291px;
    height: 268px;

    padding: 45px;
    margin: 0;
  }

  &:not(:last-child) {
    margin-bottom: 16px;

    @include for-size(desktop) {
      margin-right: 37px;
      margin-bottom: 0;
    }
  }

  &-img {
    margin: 0 auto 20px;

    @include for-size(desktop) {
      margin: 0 auto 16px;
    }
  }

  &:nth-child(1) svg {
    width: 42px;
    height: 70px;

    @include for-size(desktop) {
      width: 70px;
      height: 116px;
    }
  }

  &:nth-child(2) svg {
    width: 80px;
    height: 70px;

    @include for-size(desktop) {
      width: 134px;
      height: 116px;
    }
  }

  &:nth-child(3) svg {
    width: 70px;
    height: 61px;

    @include for-size(desktop) {
      width: 133px;
      height: 116px;
    }
  }

  &-title {
    margin: 0;

    @include font(bold, 20px, 1.3);

    text-align: center;

    color: $primary-text_color;
  }
}
