.sixth {
  padding: 60px 0;

  @include for-size(desktop) {
    padding: 120px 0;
  }

  &__box {
    max-width: 425px;
    margin: 0 auto;

    @include for-size(desktop) {
      margin: 0 10px 0 0;
    }
  }

  &__title {
    margin: 0 0 24px;

    @include font(800, 32px, 1.4);

    text-transform: uppercase;

    color: $primary-text_color;

    @include for-size(tablet) {
      margin: 0 0 32px;
      @include font(800, 40px, 1.4);
    }
  }

  &__text {
    margin: 0 0 20px;

    @include font(normal, 24px, 1);

    color: $primary-text_color;
  }

  &__text:last-child {
    margin-bottom: 24px;
  }

  &__img-mob {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;

    @include for-size(desktop) {
      display: none;
    }
  }

  &__img-desk {
    display: none;

    @include for-size(desktop) {
      display: block;
    }
  }
}

.sixth .container {
  @include for-size(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
