<section class="eighth">
  <div class="container">
    <!-- QUESTIONS -->
    <div class="eighth__quest-one eighth__quest active">
      <p class="eighth__quest-num">Вопрос 1 из 3</p>
      <h3 class="eighth__quest-title">
        Сколько времени ты сможешь уделять торговле на Ленбирже в день?
      </h3>
      <ul class="eighth__ans-list">
        <li class="eighth__ans-item">15 минут</li>
        <li class="eighth__ans-item">1 час</li>
        <li class="eighth__ans-item">30 минут</li>
      </ul>
    </div>

    <div class="eighth__quest-two eighth__quest">
      <p class="eighth__quest-num">Вопрос 2 из 3</p>
      <h3 class="eighth__quest-title">
        На каком активе, на твой взгляд, сейчас заработать проще всего?
      </h3>
      <ul class="eighth__ans-list">
        <li class="eighth__ans-item eighth__ans-width">Акции</li>
        <li class="eighth__ans-item eighth__ans-width">Валюта</li>
        <li class="eighth__ans-item eighth__ans-width">Ценные металлы</li>
        <li class="eighth__ans-item eighth__ans-width">Нефть и газ</li>
      </ul>
    </div>

    <div class="eighth__quest-three eighth__quest">
      <p class="eighth__quest-num">Вопрос 3 из 3</p>
      <h3 class="eighth__quest-title">
        На каком активе, на твой взгляд, сейчас заработать проще всего?
      </h3>
      <ul class="eighth__ans-list">
        <li data-variant="0" class="eighth__ans-item">$250</li>
        <li data-variant="1" class="eighth__ans-item">$1000</li>
        <li data-variant="2" class="eighth__ans-item">$10000</li>
      </ul>
    </div>

    <!-- RESULT -->
    <div class="eighth__res-one eighth__res">
      <h3 class="eighth__res-title">Новичок</h3>
      <p class="eighth__res-text">
        Заполняй регистрационную форму и обязательно дождись звонка консультанта
        Ленбиржи для подтверждения
      </p>
      <button type="button" class="eighth__res-btn scroll-btn">
        СОЗДАТЬ БРОКЕРСКИЙ СЧЕТ
      </button>
    </div>

    <div class="eighth__res-two eighth__res">
      <h3 class="eighth__res-title">Опытный</h3>
      <p class="eighth__res-text">
        Заполняй регистрационную форму и обязательно дождись звонка консультанта
        Ленбиржи для подтверждения
      </p>
      <button type="button" class="eighth__res-btn scroll-btn">
        СОЗДАТЬ БРОКЕРСКИЙ СЧЕТ
      </button>
    </div>

    <div class="eighth__res-three eighth__res">
      <h3 class="eighth__res-title">Инвестор</h3>
      <p class="eighth__res-text">
        Заполняй регистрационную форму и обязательно дождись звонка консультанта
        Ленбиржи для подтверждения
      </p>
      <button type="button" class="eighth__res-btn scroll-btn">
        СОЗДАТЬ БРОКЕРСКИЙ СЧЕТ
      </button>
    </div>
  </div>
</section>
