<section class="fourth">
  <div class="container">
    <h2 class="fourth__title">Твой шанс стать инвестором</h2>
    <p class="fourth__text">
      Торгуй всем — от криптовалют до акций мировых гигантов
    </p>
    <p class="fourth__text-two">Перед тобой выбор из сотен различных активов</p>

    <!-- TABLE -->
    <table>
      <thead>
        <tr>
          <th>
            <span class="th__after" id="th__after-one">Актив</span>
          </th>
          <th>
            <span class="th__after" id="th__after-two"
              >Последняя сделка ($)</span
            >
          </th>
          <th>
            <span class="th__after" id="th__after-three"
              >Изменение за 24 часа</span
            >
          </th>
          <th>
            <span class="th__after" id="th__after-four"
              >Суточная прибыль
              <span class="th-part">(в % от депозита)</span></span
            >
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Газпром</td>
          <td>$722</td>
          <td class="active">+2,72%</td>
          <td>+2,72%</td>
        </tr>
        <tr>
          <td>Лукойл</td>
          <td>$388</td>
          <td>+1,28%</td>
          <td>+1,28%</td>
        </tr>
        <tr>
          <td>СБЕР</td>
          <td>$212</td>
          <td style="color: red">-3,13%</td>
          <td>-3,13%</td>
        </tr>
        <tr>
          <td>МТС</td>
          <td>$87</td>
          <td>+1,99%</td>
          <td>+1,99%</td>
        </tr>
        <tr>
          <td>Яндекс</td>
          <td>$71</td>
          <td style="color: red">-1,72%</td>
          <td>-1,72%</td>
        </tr>
        <tr>
          <td>Tesla</td>
          <td>$115</td>
          <td>+5,24%</td>
          <td>+5,24%</td>
        </tr>
        <tr>
          <td>Moderna</td>
          <td>$427</td>
          <td>+7,11%</td>
          <td>+7,11%</td>
        </tr>
        <tr>
          <td>Facebook</td>
          <td>$811</td>
          <td style="color: red">-3,80%</td>
          <td>-3,80%</td>
        </tr>
        <tr>
          <td>Apple</td>
          <td>$302</td>
          <td style="color: red">-4,77%</td>
          <td>-4,77%</td>
        </tr>
        <tr>
          <td>NVIDIA</td>
          <td>$88</td>
          <td>+9,09%</td>
          <td>+9,09%</td>
        </tr>
        <tr>
          <td>Amazon</td>
          <td>$192</td>
          <td>+0,93%</td>
          <td>+0,93%</td>
        </tr>
        <tr>
          <td>Pfizer</td>
          <td>$515</td>
          <td>+12,24%</td>
          <td>+12,24%</td>
        </tr>
        <tr>
          <td>Boeing</td>
          <td>$62</td>
          <td style="color: red">-2,20%</td>
          <td>-2,20%</td>
        </tr>
        <tr>
          <td>Activision</td>
          <td>$370</td>
          <td>+8,34%</td>
          <td>+8,34%</td>
        </tr>
        <tr>
          <td>Bitcoin</td>
          <td>$629</td>
          <td style="color: red">-4,56%</td>
          <td>-4,56%</td>
        </tr>
        <tr>
          <td>Ethereum</td>
          <td>$50</td>
          <td style="color: red">-1,50%</td>
          <td>-1,50%</td>
        </tr>
        <tr>
          <td>Ripple</td>
          <td>$228</td>
          <td>+8,23%</td>
          <td>+8,23%</td>
        </tr>
        <tr>
          <td rowspan="4" class="table-link-box" style="text-align: center">
            <span class="table-link scroll-btn">еще 471 актив</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
