<section class="header">
  <div class="container">
    <svg class="header__logo">
      <use href="../img/sprite.svg#icon-logo"></use>
    </svg>

    <div class="header__menu">
      <p class="header__menu-item scroll-btn-two">Про биржу</p>
      <button type="button" class="header__menu-btn scroll-btn">Регистрация</button>
    </div>
  </div>

  <div class="marquee">
    <div>
      <span class="marquee__first-part">LKOH</span><span class="marquee__second-part">12.2174</span><span
        class="marquee__third-part">-0,06%</span>

      <span class="marquee__first-part">DJIA</span><span class="marquee__second-part">35490.69</span><span
        class="marquee__third-part">-0.74</span>

      <span class="marquee__first-part">NASD_COMP</span><span class="marquee__second-part">15235.84</span><span
        class="marquee__third-part--plus">+0.00</span>

      <span class="marquee__first-part">SP500</span><span class="marquee__second-part">4564.11</span><span
        class="marquee__third-part--plus">+0.27</span>

      <span class="marquee__first-part">NASD100</span><span class="marquee__second-part">15598.39</span><span
        class="marquee__third-part--plus">+0.25</span>

      <span class="marquee__first-part">FTSE100</span><span class="marquee__second-part">FTSE100</span><span
        class="marquee__third-part">-0.23</span>

      <span class="marquee__first-part">DAX</span><span class="marquee__second-part">15662.72</span><span
        class="marquee__third-part">-0.23</span>

      <span class="marquee__first-part">GAZ</span><span class="marquee__second-part">10.097</span><span
        class="marquee__third-part">-1.85</span>

      <span class="marquee__first-part">ROS</span><span class="marquee__second-part">8.935</span><span
        class="marquee__third-part">-0.69</span>

      <span class="marquee__first-part">Золото</span><span class="marquee__second-part">1802.10</span><span
        class="marquee__third-part--plus">+0.30</span>
    </div>
  </div>
</section>