<section class="seventh">
  <div class="container">
    <h2 class="seventh__title">Ты узнаешь:</h2>

    <ul class="seventh__list">
      <li class="seventh__list-item">
        <svg class="seventh__list-item-img">
          <use href="../img/sprite.svg#icon-rocket"></use>
        </svg>
        <h4 class="seventh__list-item-title">С чего вообще начать</h4>
      </li>
      <li class="seventh__list-item">
        <svg class="seventh__list-item-img">
          <use href="../img/sprite.svg#icon-mishen"></use>
        </svg>
        <h4 class="seventh__list-item-title">Как выбрать стратегию</h4>
      </li>
      <li class="seventh__list-item">
        <svg class="seventh__list-item-img">
          <use href="../img/sprite.svg#icon-bag"></use>
        </svg>
        <h4 class="seventh__list-item-title">
          Как сформировать портфель инвестора
        </h4>
      </li>
    </ul>
  </div>
</section>
