<section class="sixth">
  <div class="container">
    <div class="sixth__box">
      <h2 class="sixth__title">Мы не оставим тебя одного</h2>
      <p class="sixth__text">
        Сразу после регистрации за тобой будет закреплен наставник.
      </p>
      <p class="sixth__text">
        Он простым и понятным языком докажет, что инвестиции — это просто!
      </p>
    </div>
    <img
      src="../img/sixth/six-img.png"
      alt="преподаватель возле доски"
      class="sixth__img-mob"
    />
    <img
      src="../img/sixth/six-img-desk.png.png"
      alt="преподаватель возле доски"
      class="sixth__img-desk"
    />
  </div>
</section>
