<section class="third">
  <div class="container">
    <h2 class="third__title">Как работает ленбиржа?</h2>

    <ul class="third__list">
      <li class="third__list-item">
        <svg class="third__list-item-img">
          <use href="../img/sprite.svg#icon-robot"></use>
        </svg>
        <div class="third__list-item-box">
          <h4 class="third__list-item-title">Расчетами займется робот</h4>
          <p class="third__list-item-text">
            Биржевые позиции на Ленбирже закрываются автоматически благодаря
            алгоритму Альфа-Банка
          </p>
        </div>
      </li>
      <li class="third__list-item">
        <svg class="third__list-item-img">
          <use href="../img/sprite.svg#icon-graphic"></use>
        </svg>
        <div class="third__list-item-box">
          <h4 class="third__list-item-title">Выбери готовую стратегию</h4>
          <p class="third__list-item-text">
            Вместо того, чтобы вручную собирать портфель инвестора и изучать
            тонны литературы
          </p>
        </div>
      </li>
      <li class="third__list-item">
        <svg class="third__list-item-img">
          <use href="../img/sprite.svg#icon-head"></use>
        </svg>
        <div class="third__list-item-box">
          <h4 class="third__list-item-title">Инвестируй и зарабатывай</h4>
          <p class="third__list-item-text">
            На Ленбирже — это просто. Покупаешь акции. Запускаешь алгоритм.
            Получаешь прибыль
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
